DEBUG=True
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DATABASE_URL=postgres://dev_usr:dev_pass@172.16.0.10:5432/dev_db

#DEFAULT_FILE_STORAGE=apps.s3utils.MediaStorage
#STATICFILES_STORAGE=apps.s3utils.StaticStorage
#AWS_STORAGE_BUCKET_NAME=demarrer-media
#MEDIA_DOMAIN=???.cloudfront.net

ALLOWED_HOSTS=127.0.0.1
INTERNAL_IPS=127.0.0.1
