{% extends "site_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block body %}
  <h2>{% trans 'Register' %}</h2>
  <form method="post" action="{% url 'registration_register' %}" class="form-horizontal">
    {% csrf_token %}
    {% crispy form crispy_horizontal %}
    <div class="form-group">
      <div class="col-lg-offset-4 col-lg-10">
        <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
