/**
 * Core less file. Import needed libraries and set custome less
 *
 */

/* Bootstrap */
@import "../bootstrap/less/bootstrap.less";

/* Typography */
.justify {
    text-align: justify;
    text-justify: newspaper;
}

/* Odd */
.noborder {
    border: none;
}
