/**
 * Core less file. Import needed libraries and set custome less
 *
 */

/* Bootstrap */
@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";

.container-fluid {
    .center-block;
    max-width: 960px;
    margin-top: .5em;
}

/* Typography */
h1 {
    font-size: 1.7em;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

.justify {
    text-align: justify;
    text-justify: newspaper;
}


/* Odd */
.noborder {
    border: none;
}
