<!DOCTYPE html>{% load i18n compress %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title_base %}{% block head_title %}{% endblock %}{% if SITE_NAME %} &ndash; {{ SITE_NAME }}{% endif %}{% endblock %}</title>
    <meta name="description" content="{% block head_description %}{% endblock %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% if debug %}
      <link rel="stylesheet/less" type="text/less" href="{{ STATIC_URL }}css/core.less">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
    {% else %}
      {% compress css %}
      <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/core.less">
      {% endcompress %}
    {% endif %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {% compress js %}
      <script src="{{ STATIC_URL }}bootstrap/assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}bootstrap/assets/js/respond.min.js"></script>
      {% endcompress %}
    <![endif]-->
    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/google-analytics.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {% endcompress %}
    <script type="text/javascript">
      {% if user.is_authenticated and user.is_staff or debug %}var DEBUG = true;{% endif %}
      var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}';
      APP.Main();
    </script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block top %}{% endblock %}
    {% block topbar_base %}
      <div class="container">
        <div class="row">
          {% block topbar %}
            <div class="col-sm-6">
              {% block topbar_left %}
                <a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/logo.png" alt="{{ SITE_NAME }}" class="noborder"></a>
                <span class="lead">{{ SITE_NAME }}</span>
              {% endblock %}
            </div>
            <div class="col-sm-6 text-right">
              {% block topbar_right %}{% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    {% endblock %}
    <div class="container">
      {% if messages %}
        <div class="row">
          <div class="col-sm-12">
            {% include "includes/messages.html" %}
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-3">
          {% block sidebar %}{% endblock %}
          {% include "includes/social_buttons.html" %}
        </div>
        <div class="col-sm-9 just">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p><small>Copyright &copy; 2013 {{ SITE_NAME }}, All rights reserved.</small></p>
        </div>
      </div>
    </div>
    {% block bottom %}{% endblock %}
  </body>
</html>
